<div class="w0rthlss-content black grey-text text-lighten-1 center">
	<br/>
	<h2 class="too-large">A propos</h2>
	<div class="row">
		<div class="col s12 offset-l3 l6">
			<h4>Qui sommes-nous ?</h4>
			<p class="brown-text text-lighten-3">
				Nous sommes deux passionn&eacute;s de musique qui avons recherch&eacute; depuis longtemps le meilleur moyen de partager les artistes que
				nous aimons. Nous tweetons chaque jour un nouveau titre en fonction de son ambiance et avons cr&eacute;&eacute; ce site afin de les
				centraliser sous la forme de playlists. Selon les supports de diffusion choisis par les artistes, certaines d'entre elles
				peuvent être incompl&egrave;tes.
			</p>
		</div>

		<div class="col s12 offset-l3 l3">
			<h4>Quels outils<br/>utilisons-nous ?
			</h4>
			<p>
				<a class="brown-text text-lighten-2" href="http://materializecss.com">Materialize</a>
				<br/>+<br/>
				<a class="brown-text text-lighten-2" href="https://angularjs.org/">AngularJS</a>
				<br/>+<br/>
				<a class="brown-text text-lighten-2" href="https://www.dafont.com/fr/streamster.font">Streamster (non profit use)</a>
			</p>
		</div>

		<div class="col s12 l3">
			<h4>A propos des<br/>donn&eacute;es personnelles
			</h4>
			<p>Vous trouverez ci-dessous les liens vers les diff&eacute;rentes politiques mises en place par les services que nous
				utilisons.
			</p>
			<a class="brown-text text-lighten-2" href="https://policies.google.com/technologies/cookies?hl=fr">Google</a>
			&nbsp;&mdash;&nbsp;
			<a class="brown-text text-lighten-2" href="https://www.spotify.com/fr/legal/privacy-policy/">Spotify</a>
			&nbsp;&mdash;&nbsp;
			<a class="brown-text text-lighten-2" href="https://soundcloud.com/pages/cookies">SoundCloud</a>
		</div>
	</div>

</div>