<footer class="page-footer black" id="main-footer">
	<div class="footer-copyright">
		<div class="container">
			<p>
				Nous ne collectons <b>pas</b> vos donn&eacute;es personnelles, <b>vous &ecirc;tes en s&eacute;curit&eacute; sur cette
				page d'accueil ! </b> Mais faites attention : nous utilisons les int&eacute;grations Spotify, YouTube et SoundCloud
				pour afficher nos playlists. Ces services n'&eacute;tant pas aussi gentils que nous, ils collecteront certaines de vos
				donn&eacute;es <b>si vous acceptez de naviguer sur notre site internet</b>. <a class="brown-text text-lighten-2" ui-sref="about">Plus d'infos ici</a>
			</p>
		</div>
	</div>
</footer>