<div class="black grey-text text-lighten-1 center w0rthlss-content">
	<div class="row">
		<br/>
		<h2 class="hide-on-small-only too-large">Visuel Vendredi</h2>
        <h5 class="hide-on-med-and-up too-large">Visuel Vendredi</h5>
		<p class="col s12 offset-l2 l8">&laquo; 16:00 &mdash; Un spectacle oculaire et sonore &raquo;</p>

	</div>

	<div class="container row playlist">
		<div class="col s12 m10 offset-m1 playlist">
			<iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/videoseries?list=PL6ncNwqWWJ-PVINx5azXVluswNkm8_0K_"
			 frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>